$border-radius: 4px;

$gray-color: #dee2e6;

$small-action-space: 4px;

$mb: 3.2rem;
$qmb: .8rem;

$greater-than-five-background-color: blue;
$greater-than-five-border: black;
$greater-than-five-color: white;